@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Regular.ttf?v=4.015') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Light.ttf?v=4.015') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Thin.ttf?v=4.015') format('truetype');
    font-weight: 200;
    /* Ultra-Light / Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Medium.ttf?v=4.015') format('truetype');
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Bold.ttf?v=4.015') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-RegularItalic.ttf?v=4.015') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-LightItalic.ttf?v=4.015') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: italic;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-BoldItalic.ttf?v=4.015') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://store.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Black.ttf?v=4.015') format('truetype');
    font-weight: 900;
    /* Black */
    font-style: normal;
}